body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segue UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantrell', 'Fir Sans', 'Droid Sans', 'Helvetica Nee',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
